<!DOCTYPE html>
<html xml:th="http//www.thymeleaf.org">
    <head>
        <tittle>Songify Client Home Page</tittle>
    </head>
    <body>
        <a href="/" >| Home</a>
        <hr>
         <div th:if="${error!= null}"><span th:text="'ERROR ' + ${error}"></span></div>
        <hr>
        <h1>Song List</h1>
        <ul>
            <li th:each="entry: ${songMap.songs}">
                <span th:text="'Song ' + ${entry.key} + ': ' + ${entry.value.artist} + ' - '+ ${entry.value.songName}"></span>
            </li>
        </ul>

        <hr>
        <h2>ADD A SONG</h2>
        <form action="/songs" method="post">
            <label for="songName">Enter the name of the song:</label>
            <input type="text" required id="songName" name="songName">
            <label for="artist">Name the author:</label>
            <input type="text" required id="artist" name="artist">
            <button type="submit">Add songs</button>
        </form>
        <hr>
        <h2>VIEW SONG BY ID</h2>
        <form action="/songs" method="get">
            <label for="songId">Enter the song ID:</label>
            <input type="number" required min="1" id="songId" name="id">
            <button type="submit">Show the song</button>
        </form>
        <div th:if="${song != null}">
            <h2 th:text="${song.songName}"></h2>
            <p th:text="${song.artist}"></p>
        </div>
        <hr>
        <h2>DELETE THE SONG</h2>
        <form action="/deletesong" method="post">
            <label for="songId">Enter the song ID:</label>
            <input type="number" required min="1" id="songId" name="id">
            <button type="submit">Delete song</button>
        </form>
        <hr>
        <h2>EDIT SONG</h2>
        <form action="/edit" method="post">
            <label for="songId">Enter the ID of the song to edit:</label>
            <input type="number" required min="1" id="songId" name="id">
            <label for="songName">Enter the name of the song:</label>
            <input type="text" id="songName" name="songName">
            <label for="artist">Name the author:</label>
            <input type="text" id="artist" name="artist">
            <button type="submit">Update the song</button>
        </form>
    </body>
</html>

