<!DOCTYPE html>
<html xml:th="http//www.thymeleaf.org">
    <head>
        <tittle>Songify Client Home Page</tittle>
    </head>
    <body>
        <a href="/" >| Home</a>
        <hr>
         <div th:if="${e!= null}"><span th:text="'ERROR ' + ${e}"></span></div>
        <hr>
        <h1>Song List</h1>
        <ul>
            <li th:each="entry: ${songMap.songs}">
                <span th:text="'Song ' + ${entry.key} + ': ' + ${entry.value.artist} + ' - '+ ${entry.value.songName}"></span>
            </li>
        </ul>

        <hr>
        <h2>DODAJ PIOSENKĘ</h2>
        <form action="/songs" method="post">
            <label for="songName">Podaj nazwę piosenki:</label>
            <input type="text" required id="songName" name="songName">
            <label for="artist">Podaj autora:</label>
            <input type="text" required id="artist" name="artist">
            <button type="submit">Dodaj piosenkę</button>
        </form>
        <hr>
        <h2>WYŚWIETL PIOSENKĘ PO ID</h2>
        <form action="/songs" method="get">
            <label for="songId">Podaj ID piosenki:</label>
            <input type="number" required min="1" id="songId" name="id">
            <button type="submit">Przejdź do piosenki</button>
        </form>
        <div th:if="${song != null}">
            <h2 th:text="${song.songName}"></h2>
            <p th:text="${song.artist}"></p>
        </div>
        <hr>
        <h2>USUŃ PIOSENKĘ</h2>
        <form action="/deletesong" method="post">
            <label for="songId">Podaj ID piosenki:</label>
            <input type="number" required min="1" id="songId" name="id">
            <button type="submit">Usuń piosenkę</button>
        </form>
        <hr>
        <h2>EDYTUJ PIOSENKĘ</h2>
        <form action="/edit" method="post">
            <label for="songId">Podaj ID piosenki do edycji:</label>
            <input type="number" required min="1" id="songId" name="id">
            <label for="songName">Podaj nazwę piosenki:</label>
            <input type="text" id="songName" name="songName">
            <label for="artist">Podaj autora:</label>
            <input type="text" id="artist" name="artist">
            <button type="submit">Zaktualizuj piosenkę</button>
        </form>
    </body>
</html>

